.main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    margin-bottom: 2px;
    &>:first-child{
        width: 1.5rem;
        margin-right: 20px;
    }
}