.main{
    padding: 20px;
    .header{
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 2.3rem;
        color: darkblue;
        text-align: center;
        border-bottom: 1px solid darkblue;
    }
    .body{
        width: 500px;
        display: flex;
        .customer{
            flex:1;
            margin: 10px 0px;
            padding: 5px 30px 5px 0px;
            border-right: black solid 1px;
        }
        .room_state{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            flex:1;
            font-size: 2.4rem;
            margin: 10px 0px;
            padding: 5px 0px 5px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .config{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px darkblue solid;
        padding-bottom: 20px;
        .state{
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            &>h4{
                margin: 0px;
                width: 40%;
            }
        }
        .clean{
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            &>h4{
                margin: 0px;
                width: 40%;
            }
        }
    }
    .btnGroup{
        &>button{
            margin-top: 1rem;
            margin-right: 1rem;
            font-size: 1.2rem;
            background-color: rgb(76, 188, 76);
            padding: 10px;
            border-radius: 15px;
            border:none;
            cursor: pointer;
            &:hover{
                background-color: rgb(105, 206, 105);
            }
        }
        &>button:last-child{
            background-color: rgb(153, 149, 149);
            &:hover{
                background-color: rgb(182, 178, 178);
            }
        }
    }
}