.main{
    display: grid;
    grid-template-columns: 4vw 16vw 20vw 16vw 11vw 5vw 5vw;

    align-items: center;
    text-align: center;
    justify-content: center;

    width: 84vw;
    height: auto;

    border: 1px solid black;

    border-radius: 15px 15px 0px 0px;

    gap: 1vh;
    padding: 0.3vw 6vw 0.3vw 4vw;
    margin-top: 3vh;
    margin-bottom: 1vh;

    background-color: #60FFDF;
}