.option{
    display: flex;
    align-items: center;
    width: 200px;
    cursor: pointer;
    overflow: hidden;
    padding: 0.4rem 0px;
    text-decoration: none;
    color: black;
    &>img{
        margin-left: 0.5rem;
        width: 4rem;
        margin-right: 1rem;
    }
    &>span{
        font-size: 1.2rem;
    }
    &:hover{
        background-color: #ddd;
    }
    &.active{
        background-color: #eee;
    }
}