.main {
    margin-right: 2vw;
    display: flex;

    .searchRoom {
        display: inline-flex;
        flex:2;

        .searchBtn {
            margin: 0 0.5vw;
            padding: 0 1.1vw;
        }
    }
    

    .datePicker {
        flex: 1;
    }
}